<div class="d-flex justify-content-center">
    <a href="{{ path('admin_dashboard') }}" class="btn btn-secondary mr-4 mb-4">Tableau de board</a>
    <a href="{{ path('article_new') }}" class="btn btn-secondary mr-4 mb-4">Ajouter un article</a>
    <a href="{{ path('admin_manage_comment') }}" class="btn btn-secondary mr-4 mb-4">Gérer les commentaires</a>
</div>