{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Tableau de bord</h1>

    {% include "admin/_menu.html.twig" %}

{% endblock %}