{% extends 'base.html.twig' %}

{% block title %}A Propos{% endblock %}

{% block body %}
    <a href="{{ path('home') }}" class="go-home"><h3>🏠</h3></a>
    <h1 class="text-center mb-4">A propos</h1>
    <div>
        <p>
            Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et facilisis nunc. 
            Vivamus vel tortor vitae augue blandit dictum. Aliquam mollis imperdiet ligula vehicula dictum. 
            Duis a nisl facilisis, lacinia erat nec, viverra erat. Nullam sagittis a dui et tincidunt.
            Fusce auctor fringilla nibh, vel dignissim tellus luctus ut. In mollis felis ut orci euismod, in egestas magna semper. 
            Ut mollis orci dui, eu fringilla enim semper quis. Proin non velit nec mauris iaculis porttitor ut id dolor. 
            Fusce ultricies ipsum eu nulla imperdiet, id aliquet nisl volutpat. Nam sollicitudin quam libero, at feugiat augue aliquam et. 
            Plentesque ut pretium mauris.<br><br>

            Integer turpis sem, eleifend nec lorem sit amet, commodo feugiat orci. 
            Nullam bibendum auctor dictum. Sed id elit ac elit iaculis vehicula. 
            Nunc maximus, orci a ornare commodo, diam sem molestie elit, nec molestie metus turpis a dui. Quisque vel lectus sem. 
            Integer congue ultricies lacinia. 
            Praesent at gravida odio. Sed varius ipsum quis metus egestas bibendum. Nulla nec gravida elit.<br><br>

            roin ullamcorper aliquet nisi varius semper. Morbi pharetra facilisis dui ac auctor. 
            Nunc placerat scelerisque libero, gravida rhoncus tortor hendrerit non. Maecenas erat mi, lobortis quis hendrerit a, ullamcorper ut nunc. 
            Phasellus vel efficitur lorem, auctor sodales justo. Nunc tempus efficitur massa non tempor. 
            Etiam ultrices laoreet mauris condimentum tempor. Proin felis odio, egestas et sem eget, suscipit semper lacus. 
            Praesent dapibus metus eros, sit amet porta dui convallis ac.
        </p>
        <img class="img-fluid mb-4" src="https://upload.wikimedia.org/wikipedia/commons/5/58/Forggensee_Panorama_SK_0001.jpg" alt=""/>
    </div>
{% endblock %}
