{% extends 'base.html.twig' %}

{% block title %}Articles partagés{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Vos articles partagés</h1>

    {% include "user/_menu.html.twig" %}

    <section>
        <div class="d-flex flex-column">
            ok
        </div>
    </section>

{% endblock %}